@model LearningCenter.Website.Models.ClassModel
@{
    ViewBag.Title = "Class List";
}

<h2>Classes</h2>
<p>Class Title: @Model.Name</p>
<p>Description: @Model.Description</p>
<p>      Price: @Model.Price</p>
